@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0 auto;
  font-family: "Roboto";
  max-width: 1600px;
  pointer-events: none;
  opacity: 0.4;
  -webkit-animation: montrer 1s ease-out both;
  -webkit-animation-delay: 3s;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: cacher 1s forwards;
  animation-delay: 3s;
  -webkit-animation: cacher 1s ease-out both;
  -webkit-animation-delay: 3s;
}
.loader .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  animation: spin 1s ease-in-out infinite;
}
.loader .circle:nth-child(1) {
  border-top: 2px solid #9356DC;
}
.loader .circle:nth-child(2) {
  border-bottom: 2px solid #FF79DA;
  width: 120px;
  height: 120px;
}
.loader .circle:nth-child(3) {
  border-left: 2px solid #99E2D0;
  width: 180px;
  height: 180px;
}

.logo {
  text-align: center;
  padding: 10px;
  z-index: 1;
}
.logo img {
  width: 160px;
}

.informations {
  text-align: center;
}
.informations__localisation {
  background-color: #EAEAEA;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informations__localisation span {
  font-weight: bold;
}
.informations__localisation .loc-icon {
  padding-right: 10px;
}
.informations__restaurant {
  background-color: #F6F6F6;
  padding: 20px 10px;
}
.informations__restaurant .explorer {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 5px;
  margin: 30px auto;
  display: block;
  width: 200px;
}

.fonctionnement {
  margin: 0px 20px;
}
.fonctionnement a {
  text-decoration: none;
  color: #000000;
}
.fonctionnement__item {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #D5D5D5;
}
.fonctionnement__item .numero {
  border-radius: 50%;
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #9356DC;
  margin-left: -35px;
  margin-right: 20px;
  font-size: 15px;
}
.fonctionnement__item .fct-icon {
  font-size: 20px;
  color: #808080;
  margin-right: 30px;
}
.fonctionnement__item:hover {
  background-color: #F5EDFF;
}
.fonctionnement__item:hover .fct-icon {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 75px;
  align-items: center;
}
.restaurants a {
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}
.restaurants a:hover {
  transform: scale(1.05);
}
.restaurants h1 {
  align-self: baseline;
  margin: 50px 0 20px 30px;
}
.restaurants__item {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 20px;
  max-width: 420px;
  position: relative;
}
.restaurants__item img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.restaurants__item h3 {
  color: #000000;
  font-size: 20px;
  margin: 0 0 0 10px;
}
.restaurants__item p {
  color: #000000;
  font-size: 20px;
  margin: 0 0 20px 10px;
}
.restaurants__item .new {
  background-color: #99E2D0;
  color: #018766;
  padding: 5px 10px;
  width: 65px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  border-radius: 5px;
}
.restaurants__item .description {
  display: flex;
  width: 100%;
  align-items: center;
}
.restaurants__item .description__texte {
  width: 80%;
}
.restaurants__item .description__coeur {
  width: 20%;
  margin-bottom: 20px;
}
.restaurants__item .description__coeur i {
  font-size: 20px;
  color: #000000;
  opacity: 1;
  font-weight: 300;
}
.restaurants__item .description__coeur i::before {
  bottom: 0;
  top: 0;
  transition: transform 1s linear;
}
.restaurants__item .description__coeur i:hover::before {
  font-weight: bold;
  color: #9356DC;
  top: 100%;
}

footer {
  background-color: #353535;
}
footer * {
  color: #FFFFFF;
}
footer h1 {
  font-family: "Shrikhand";
  padding: 20px 30px;
  margin: 0;
}
footer .links {
  margin-left: 30px;
}
footer .links__item {
  padding-bottom: 10px;
}
footer .links__item a {
  text-decoration: none;
}
footer .links i {
  padding-right: 15px;
}

.restaurant-header {
  display: flex;
  align-items: center;
}
.restaurant-header .back {
  font-size: 24px;
  margin-left: 30px;
  width: 15%;
}
.restaurant-header--logo {
  width: 55%;
}

.main {
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.main__image {
  width: 100%;
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
  margin: -32px 0 0 0;
  padding-bottom: 20px;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.main__content .title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main__content .title h1 {
  font-family: "Shrikhand";
}
.main__content .title .coeur {
  cursor: pointer;
}
.main__content .title .coeur i {
  font-size: 20px;
  color: #000000;
  opacity: 1;
  font-weight: 300;
}
.main__content .title .coeur i::before {
  bottom: 0;
  top: 0;
  transition: all 0.5s linear;
}
.main__content .title .coeur i:hover::before {
  font-weight: bold;
  color: #9356DC;
  top: 100%;
}
.main__content h1 {
  width: 80%;
}
.main .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .menu__title {
  margin-left: 20px;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 5px;
  width: 10%;
}
.main .menu__entree, .main .menu__plat, .main .menu__dessert {
  color: #000000;
}
.main .menu__entree a, .main .menu__plat a, .main .menu__dessert a {
  text-decoration: none;
}
.main .menu__entree .plat, .main .menu__plat .plat, .main .menu__dessert .plat {
  display: flex;
  background-color: white;
  color: black;
  margin: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.main .menu__entree .plat .item, .main .menu__plat .plat .item, .main .menu__dessert .plat .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}
.main .menu__entree .plat .item h3, .main .menu__plat .plat .item h3, .main .menu__dessert .plat .item h3 {
  margin: 0;
  font-size: 16px;
}
.main .menu__entree .plat .item__description, .main .menu__plat .plat .item__description, .main .menu__dessert .plat .item__description {
  width: 90%;
}
.main .menu__entree .plat .item__description p, .main .menu__plat .plat .item__description p, .main .menu__dessert .plat .item__description p {
  margin: 5px 0 0 0;
  font-size: 14px;
  align-self: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .menu__entree .plat .item__plat, .main .menu__plat .plat .item__plat, .main .menu__dessert .plat .item__plat {
  display: flex;
  width: 100%;
  position: relative;
}
.main .menu__entree .plat .item__plat p, .main .menu__plat .plat .item__plat p, .main .menu__dessert .plat .item__plat p {
  font-size: 12px;
  margin: 5px 5px 0 0;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 65px;
}
.main .menu__entree .plat .item__plat span, .main .menu__plat .plat .item__plat span, .main .menu__dessert .plat .item__plat span {
  font-weight: bold;
  width: 10%;
  margin-right: 5px;
  position: absolute;
  right: 10px;
}
.main .menu__entree .plat:hover .slide-left, .main .menu__plat .plat:hover .slide-left, .main .menu__dessert .plat:hover .slide-left {
  transition: 1s;
  right: 0;
}
.main .menu__entree .plat:hover .slide-left .rotate-center, .main .menu__plat .plat:hover .slide-left .rotate-center, .main .menu__dessert .plat:hover .slide-left .rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
.main .menu__entree .plat .slide-left, .main .menu__plat .plat .slide-left, .main .menu__dessert .plat .slide-left {
  position: absolute;
  right: -70px;
  width: 50px;
  height: 40px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  align-self: center;
  padding: 15px 10px;
  transition: 1s;
}
.main .menu__entree .plat .slide-left .check, .main .menu__plat .plat .slide-left .check, .main .menu__dessert .plat .slide-left .check {
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
  background: #99E2D0;
}
.main .commander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 5px;
  margin: 0 auto;
  display: block;
  width: 200px;
  text-align: center;
}

@media (min-width: 992px) {
  .main .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main .menu__entree .plat, .main .menu__plat .plat, .main .menu__dessert .plat {
    min-width: 300px;
    max-width: 300px;
  }
  .main__content .title h1 {
    text-align: center;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes cacher {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cacher {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation: montrer 3s forwards;
    z-index: -1;
  }
}
@-webkit-keyframes montrer {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes montrer {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

/*# sourceMappingURL=style.css.map */
