@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto";
}

.logo {
  text-align: center;
  padding: 10px;
}
.logo img {
  width: 160px;
}

.informations {
  text-align: center;
}
.informations__localisation {
  background-color: #EAEAEA;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informations__localisation span {
  font-weight: bold;
}
.informations__localisation .loc-icon {
  padding-right: 10px;
}
.informations__restaurant {
  background-color: #F6F6F6;
  padding: 20px 10px;
}
.informations__restaurant .explorer {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 5px;
  margin: 30px auto;
  display: block;
  width: 200px;
}

.fonctionnement {
  margin: 0px 20px;
}
.fonctionnement a {
  text-decoration: none;
  color: #000000;
}
.fonctionnement__item {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #D5D5D5;
}
.fonctionnement__item .numero {
  border-radius: 50%;
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #9356DC;
  margin-left: -35px;
  margin-right: 20px;
  font-size: 15px;
}
.fonctionnement__item .fct-icon {
  font-size: 20px;
  color: #808080;
  margin-right: 30px;
}
.fonctionnement__item:hover {
  background-color: #F5EDFF;
}
.fonctionnement__item:hover .fct-icon {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 75px;
  align-items: center;
}
.restaurants a {
  text-decoration: none;
}
.restaurants h1 {
  align-self: baseline;
  margin: 50px 0 20px 30px;
}
.restaurants__item {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}
.restaurants__item img {
  width: auto;
  height: 220px;
  border-radius: 20px 20px 0 0;
}
.restaurants__item h3 {
  color: #000000;
  font-size: 20px;
  margin: 0 0 0 10px;
}
.restaurants__item p {
  color: #000000;
  font-size: 20px;
  margin: 0 0 20px 10px;
}
.restaurants__item .fa-heart {
  color: red;
}
.restaurants__item .fa-heart:active > .progress-bar {
  animation: progress__bar 2000ms;
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.restaurants__item .new {
  background-color: #99E2D0;
  color: #018766;
  padding: 5px 10px;
  width: 65px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  border-radius: 5px;
}
.restaurants__item .description {
  display: flex;
  width: 100%;
  align-items: center;
}
.restaurants__item .description__texte {
  width: 80%;
}
.restaurants__item .description__coeur {
  width: 20%;
  margin-bottom: 20px;
}
.restaurants__item .description__coeur i {
  font-size: 20px;
  color: #000000;
  opacity: 1;
  font-weight: 300;
}
.restaurants__item .description__coeur i::before {
  bottom: 0;
  top: 0;
  transition: all 0.5s linear;
}
.restaurants__item .description__coeur i:hover::before {
  font-weight: bold;
  color: #9356DC;
  top: 100%;
}

footer {
  background-color: #353535;
}
footer * {
  color: #FFFFFF;
}
footer h1 {
  font-family: "Shrikhand";
  padding: 20px 30px;
  margin: 0;
}
footer .links {
  margin-left: 30px;
}
footer .links__item {
  padding-bottom: 10px;
}
footer .links i {
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
